/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
   
    padding: 15px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-list a:hover {
    color: #ffd700; /* Change the color on hover */
  }
  
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block;
    }
  
    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  
    .nav-list.show {
      display: flex;
    }
  
    .nav-list li {
      margin: 0;
      text-align: center;
    }
  }
  